h1 {
    color: brown;
}

* {
    border: solid;
}
.header{background-color: rgb(255, 0, 0); display: flex; justify-content: space-between;}
.site-descripion{display: flex; flex-direction: column; justify-content: first baseline;}
.grid{display: flex;flex-wrap: wrap; justify-content: space-evenly;}
.footer{display: flex;justify-content: flex-end;}
p,h2{text-align: center;}